---
all:
  vars:
    ansible_connection: ssh
    ansible_user: kafka
    ansible_become: true
    ansible_ssh_private_key_file: id_ssh_rsa

zookeeper:
  hosts:
    {% for host in groups['zookeeper'] %}
      {{ host }}:
        ansible_ssh_host: {{  }}
    {% endfor %}
      
kafka_broker:
  hosts:
    vm-04:      
    vm-05:      
    vm-06:      

schema_registry:
  hosts:
    vm-07:      

kafka_rest:
  hosts:
    vm-08:      

ksql:
  hosts:
    vm-09:      

kafka_connect:
  hosts:
    vm-10:      

control_center:
  hosts:
    vm-11:      
