---
all:
  vars:
    ansible_ssh_private_key_file: {{ssh_path}}
    {% for var in confluent_global %}
{{var}}: {{confluent_global[var]}}
    {% endfor %}

{% for group in groups | difference(['all', 'ungrouped']) %}
{{group}}:
  hosts:
{% for host in groups[group] %}
    {{ host }}:
      ansible_ssh_host: {% for ip_res in output_ip_address.results %}
{% if ip_res.state.name.endswith(host) %}
{{ip_res.state.ip_address}}
{% endif %}
{% endfor %}

{% if hostvars[host].confluent_host is defined %}
{% for var in hostvars[host].confluent_host%}
      {{var}}: {{hostvars[host].confluent_host[var]}}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}